<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> 
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<script>
  function sendMessage() {
    const form = new FormData(document.getElementById('userSubmit'));
    let formBody = [];
    for (let key of form.keys()) {
      const encodedKey = encodeURIComponent(key);
      const encodedValue = encodeURIComponent(form.get(key));
      formBody.push(encodedKey + '=' + encodedValue);
    }
    formBody = formBody.join('&');
    fetch('/api/v1/users/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: formBody
    })
      .then((response) => response.json())
      .then((data) => {
        alert(data.message);
        document.getElementById('submitBtn').disabled = false;
        window.location.reload();
      })
  }
</script>
<body class="body">

<div class="login-page">
  <div class="form">

    <form action="/api/v1/users/login" method="post" id="userLoginSubmit">
      <lottie-player src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"  background="transparent"  speed="1"  style="justify-content: center;" loop  autoplay></lottie-player>
      <input type="email" placeholder="&#xf007;  Email"/>
      <input type="password" id="password" placeholder="&#xf023;  Password"/>
      <br>
      <br>
      <button class="login-form" type="submit" id="submitBtn">LOGIN</button>
      <p class="message"></p>
    </form>

    <form class="login-form">
      <button type="button" onclick="window.location.href='/api/v1/users/signUp'">SIGN UP</button>
    </form>
  </div>
</div>

  <script>
    document.getElementById("userLoginSubmit").addEventListener("submit", (data) => {
      data.preventDefault();
      sendMessage();
    });
  </script>
</body>
</html>
