<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body class="body">
Successs
</body>
</html>
