/* colors */
/* #f6f5f3  --- whitish*/
/* #b5d9d9 --baby blue */
/* #1e96a6 --blue */
/* #412518 --dark brown */
/* #5d4235 --light brown */
/* #795d43 --brown yellow */
/*--------------Navbar-----------*/
.navbar{
    z-index: 100;
    background-color:  rgba(93, 66, 53, 0.1);
}
.navLogo{
    width:50px;
    height:40px;
}
.nav-text {
    font-family: "mate sc";
    color: black;
    font-size: large;
    font-weight: 400;
}
.nav-text:hover {
    text-decoration: underline;
}
.nav-button {
    border-radius: 50%;
}

/* -------------Top Home page----------- */
.mainHeader{
    font-family: "mate sc";
}
.coffeeBatchId{
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    
}
.coffeeidInput{
    width: 300px;
}
.mainHome{
    background-color: #f6f5f3;
}

/* -----------parallax----------- */
.parallax {
    position: relative;
    height: 500px;
}
.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/try1.gif');
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
.parallax-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.parallax h1 {
    font-size: 48px;
    margin-bottom: 16px;
}
.parallax p {
    font-size: 24px;
}

/* -------------About Us------------- */
.aboutUsBox{
    background-color:  rgba(93, 66, 53, 0.1);
    width:900px;
    height:400px;
    position: relative;
    border-style: outset;
    border-right-color: #b5d9d9;
    border-bottom-color: #b5d9d9;

}
.aboutTitle{
    margin-top: -20px;
    position: absolute;
    top:-1px;
    left:40%;
}
.aboutUsImg{
    position: absolute;
    top:50px;
    width:500px;
    left:50%;
}


/* ---------Market details---------- */
.marketCards{
    background-color: transparent !important;
    border-style: hidden;
}
.marketImg{
    clip-path: circle(32.5% at 50% 50%);
}

/* ------------Services------------ */
.serviceText{
    position: relative;
}
.serviceImg{
    width:100%;
    height: 300px;
}
.serviceContainer{
    border-style: double;
    border-color: #412518;
}
.flip-box {
    background-color: transparent;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} 
.flip-box-front {
    background-color: #bbb;
    color: black;
}
.flip-box-back {
    background-color: #096286;
    color: white;
    transform: rotateY(180deg);
}
.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}
.box-3 { 
    background-color: #096286; 
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px
}
@media (max-width:1000px){
    .box-3 { 
        width:180px
    }
}
@media (max-width:769px){
    .box-3 { 
        width:150px
    }
}
.btn {
  line-height: 38px;
  height: 50px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

/* ------------footer --------------*/
.footer-style {
    background-color: #795d43;
    color: white;
}
.footer-line {
    background-color: white;
    height: 0.001rem;
}
.footer-name {
    font-family: "mate sc";
    font-size: larger;
}
.footer-text {
    font-family: "open sans";
    font-size: medium;
}
.footerEmail{
    color: #fff;
}
.footerEmail:hover{
    text-decoration: underline;
    color: #fff;
}
  